<?xml version="1.0"?>
<launch>
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="paused" value="false"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="gui" value="true"/>
        <arg name="headless" value="false"/>
        <arg name="debug" value="false"/>
    </include>
    
    <param name="clover_description" 
           command="$(find xacro)/xacro '$(find clover_description)/urdf/clover/clover4.xacro'"/>
    
    <node name="spawn_clover" pkg="gazebo_ros" type="spawn_model"
          args="-param clover_description -urdf -model clover -x 0 -y 0 -z 0.5"/>
</launch>
